<p>Olá <%= @resource.email %>!</p>

<p>Foi requisitado um link para redefinir sua senha. Você pode redefinir através do link abaixo.</p>

<p><%= link_to 'Redefinir minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você que requisitou este link, porfavor ignore este e-mail.</p>
<p>Sua senha não será modificada até que você acesse o link acima e crie uma nova.</p>
